<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Habit Tracker</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 8px;
            min-width: 100px;
        }

        th {
            background-color: #f2f2f2;
        }

        h1 {
            margin-bottom: 30px;
        }

        .container {
            width: 80%;
        }

        .add-habit {
            margin-bottom: 20px;
        }
    </style>
</head>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        setDate();
    });
    function showHabit(){
        let formData = new FormData();
        User_ID = 'test_id'
        formData.append("User_ID_give", User_ID);
        fetch('/showHabit', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
            rows = data["result"]
            console.log(rows)
            let temp_html =``
            $('#habitList').empty();
            rows.forEach(element => {
            temp_html = `
                            <tr>
                            <td>${element['habit']}
                            <button id="updateHabit">수정</button>
                            <button id="deleteHabit">삭제</button>
                            </td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td> 30 % </td>
                            </tr>
            `

            //console.log(temp_html)
            $("#habitList").append(temp_html); //$('#board_list').append(temp_html)
            });
            // $("#board_list").append(temp_html);
        });
    }

    function addHabit() {
        let formData = new FormData();

        let TODO = habitInput.value;
        let User_ID = 'test_id';
        let complete = 'complete';
        let displayDate = 'display';


        formData.append("TODO_give", TODO);
        formData.append("User_ID_give", User_ID);
        formData.append("complete_give", complete);
        formData.append("displayDate_give", displayDate);


        fetch('/addHabit', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {});
        showHabit('test_id')
        }


    function setDate() {
        fetch("/dateShow").then(response => response.json()).then(data => {
            console.log(data)
            const dates = data.result;
            console.log(dates)
            dates.forEach(v => {
                const dayArray = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"]
                const day = dayArray[new Date(v).getDay()]
                console.log(day)
                const addHtml = `
                                <th><span class="date">${v}</span><br><span class="day">${day}</span></th>
                `
                document.querySelector(".header__info").insertAdjacentHTML("afterend", addHtml);
            });
        })
    }
</script>

<body>
    <div class="container">
        <h1>Mini Habit Tracker</h1>
        <div class="add-habit">
            <input type="text" id="habitInput" placeholder="새로운 습관 추가">
            <button id="addHabit" onclick="addHabit()">추가</button>
        </div>
        <div class="add-habit">
        <table>
            <thead>
                <tr class="header">
                    <th class="header__info">habit</th>

                    <th class="header__progress">진도율</th>
                </tr>
            </thead>
            <tbody id="habitList">
                <!-- 추가 습관 행이 이 위치에 자동으로 입력됩니다. -->
                <tr>
                    <td>제목1
                        <button id="updateHabit">수정</button>
                        <button id="deleteHabit">삭제</button>
                    </td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td> 30 % </td>
                </tr>
                <tr>
                    <td>제목2
                        <button id="updateHabit">수정</button>
                        <button id="deleteHabit">삭제</button>
                    </td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td> 100%</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>